header {
    height: 100%;
    background-image: url(https://pbs.twimg.com/media/FQqVkzJUYAI0ezi?format=jpg&name=4096x4096);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

#logo {
    height: 90px;
    width: 80px;
}

#login {
    height: 48px;
    width: 48px;
}

#barra-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin: 0 2rem;
}

#lista-um {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.nav-lista {
    width: 120%;
    list-style-type: none;
    cursor: pointer;
    padding: 0 1rem 0 2rem;
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
}

a {
    text-decoration: none;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

#texto-inicial {
    margin: 62px 24px 0;
    font-family: var(--fonte-titulo);
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

.text-primary {
    color: var(--cor-secundaria);
}

#subtexto {
    margin: 15px 24px 0;
    font-family: var(--fonte-texto);
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
}

#conhecer-mais {
    display: flex;
    width: 200px;
    position: relative;
    top: 80px;
    left: 40%;
}

#seta {
    font-family: var(--fonte-texto);
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border: 2px solid var(--cor-secundaria);
    border-radius: 5px;
}

#seta:hover {
    background-color: var(--cor-secundaria);
    transition: 0.3s;
}

/* 

pra quê serve isso?

.produto-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
@media screen and (max-width:768px){
    .produto-container{
        width: 100%;
        flex-direction: column;
    }

}

*/
